$general-text: #2a2a2c;
$general-link: #0092e4;
$general-icon: #4466ab;
$general-selection: #f3f5f9;

$status-ok: #5d8c62;
$status-warning: #e1b30f;
$status-l-critical: #8b33e2;
$status-h-critical: #f04a4a;

$blue-dark: #001338;
$blue-normal: #0b286e;
$blue-mid: #1753cc;
$blue-light1: #0098ff;
$blue-light2: #bbeaff;

$red: #e92e52;
$orange: #ff8604;

$white: #ffffff;
$black: #000000;

$gray-dark: #6d6e70;
$gray-mid: #bbbdbf;
$gray-light: #f9f4f5;

$infoar-blue: #346698;
$infoar-gray: #aaaaaa;
